.form {
  .form__group {
    margin-bottom: 1rem;
  }

  .form__control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f1f1f1;
    border-radius: .2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;

    &:focus {
      border-color: #dadada;
    }
  }

  textarea.form__control {
    height: auto;
  }
}